/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/03/2020, 02:22:20 AM
    Author     : itzel
*/




body{
    background-color: #fff380;
}

#videoIndex{
  margin: 0 auto;
  display: block;
  float:left;
  width:100vw !important;
 position: fixed; z-index:-1; top:0px;
 
 
 /* position: fixed;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left:50%;
    
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;*/
  
}
/*video::-webkit-media-controls {
  display: none;
}*/